* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    background-color: rgb(199, 227, 252);
}

/* p{
    color: ;
} */

nav, .navbar{
    font-size: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;

}

.navbar{
    gap: 100px;

}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 38, 255);
    text-decoration: underline;
}

.logo{
    font-family: fantasy;
}

.profpicsec {
    display: flex;
    justify-content: center;
    margin:150px;

}

.profpic{
    width: 1250px;
    border-radius: 50%;
    margin-right: 300px;
}


.profword{
    font-size: 90px;
    margin-top: 400px;
}

object {
    /* margin-left: 150px; */
    width: 1500px;
    height: 1150px;
}



















/* nav{
    justify-content: space-around;
    align-items: center;
} */