* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-image: linear-gradient(rgb(199, 227, 252), rgb(86, 112, 134)) !important;
    /* height: 100%;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

/* p{
    color: ;
} */

nav, .navbar{
    font-size: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;

}

.navbar{
    gap: 100px;

}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 38, 255);
    text-decoration: underline;
}

.logo{
    font-family: fantasy;
}

.profpicsec {
    display: flex;
    justify-content: center;
    margin:150px;

}

.profpic{
    width: 1250px;
    border-radius: 50%;
    margin-right: 300px;
}


.profword{
    font-size: 90px;
    margin-top: 400px;
}

object {
    /* margin-left: 150px; */
    width: 1500px;
    height: 1150px;
}

#logo {
    width: 8%;
    margin: 20px;
}
.logos{
    margin-left: 43%;
    margin-bottom: 1px;
}

.resumesec {
    display: inline-flex;
    /* justify-content: ; */
    margin: 150px;
}

.maya{
    font-size: 70px;
    margin-top: 400px;
}

.aboutpic{
    width: 1200px;
    margin-top: 50px;
    margin-left: 25%;
    border-radius: 18%;

}

#threepics{
    border-radius: 90%;
}

.middle{
    width: 1200px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

.active{
    color: rgb(255, 145, 0);
}


/* nav{
    justify-content: space-around;
    align-items: center;
} */

.abouthead{
    font-size: 80px;
    margin-top: 100px;
    text-align: center;

}

.bio-page{
    width: 1500px;

}
.mach-flap{
    width: 900px;
}
.jelly-quiz{
    width: 1500px;

}
.color-flip{
    width: 1500px;
    margin-bottom: 200px;

}


#project-pic{
    /* width: 1500px; */
    margin-top: 100px;
    margin-left: 100px;
}

.about-text{
    font-size: 60px;
    margin-bottom: 40px;

}

.project-section-one{
    display: inline-flex;  
}

.project-section-two {
    display: inline-flex;
}

.flappy-text{
    margin-left: 200px;
}

.project-section-three {
    display: inline-flex;
}

.project-section-four {
    display: inline-flex;
    
}

/* need to be more specific with targeting H3 for editing purposes
but it works with the code as of right now */
 h3{
    font-size: 100px;
    text-align: center;
    margin-left: 600px;
    margin-top: 200px; 
}

.bio-h{
  margin-left: 350px; 
}
.bio-p{
    text-align: center;
    font-size: 40px;
    margin-left: 26pc;
    margin-top: 50px;
}

.jel-h{
    margin-left:200px;
}

.jel-p{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 23pc;

}

.fla-h{
    margin-left: 500px;
}

.fla-p{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 25pc;
}

.col-h{
    margin-left: 0px;
}

.col-p{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}

input{
    height: 100px;
    font-size: 100px;
}